# Variables

In [2]:
carname = "volvo"
carname

'volvo'

In [4]:
x = 5
x

5

In [7]:
x = 6
del x

In [8]:
a,b = 5,6
a,b

(5, 6)

In [9]:
name = "Monish"
name

'Monish'

In [10]:
Age = 21
Age

21

In [12]:
is_python_fun = True
is_python_fun

True

In [17]:
# naming convention for variables in python

"""
Descriptive Names: Use clear and meaningful names that reflect the variable's purpose.
Snake Case: Separate words with underscores (e.g., my_variable).
Avoid Reserved Keywords: Don't use Python keywords as variable names.
Consider Prefixes: Optionally use prefixes to indicate data type or purpose.
Be Consistent: Maintain consistency throughout your codebase.
"""

"\nDescriptive Names: Use clear and meaningful names that reflect the variable's purpose.\nSnake Case: Separate words with underscores (e.g., my_variable).\nAvoid Reserved Keywords: Don't use Python keywords as variable names.\nConsider Prefixes: Optionally use prefixes to indicate data type or purpose.\nBe Consistent: Maintain consistency throughout your codebase.\n"

In [19]:
# what happens when you try to use a variable that has not been define in Python

# When you try to use a variable that hasn't been defined in Python, you'll encounter a NameError exception.

In [20]:
# single line comment

'''
multi
line
comment
'''

'\nmulti\nline\ncomment\n'

In [33]:
# how to assign single value to multiple variables in python

a=b=c = 10
print(a,b,c)

10 10 10

#  fundamental data type and string operation

In [ ]:
# integer,float,boolean,string,none

'''
advance data type in python 

list,tupple,set,dictionary
'''

In [45]:
a, b, c, d = "Hello", 6.003, True, true

print(type(a))
print(type(b))
print(type(c))
print(type(d))

NameError: name 'true' is not defined

In [ ]:
'''
Type Casting in Python refers to the process of converting a value from one data type to another. This is often done when you need to perform operations that require specific data types or when you want to represent data in a different format.

Common Type Conversions:

Integer to Float: Convert an integer to a floating-point number using the float() function.
Float to Integer: Convert a floating-point number to an integer using the int() function (this will truncate the decimal part).
String to Integer or Float: Convert a string representing a number to an integer or float using the int() or float() function, respectively.
Integer or Float to String: Convert a number to a string using the str() function.
Boolean to Integer: Convert a boolean value to an integer (True becomes 1, False becomes 0).
Integer or Float to Boolean: Convert a number to a boolean (0 becomes False, non-zero becomes True).
'''

In [48]:
ex = "123"

print(int(ex))
print(float(ex))
print(bool(ex))
print(str(ex))

123
123.0
True
123

In [49]:
int(float(bool(str(13))))

1

In [61]:
s = input("enter string ")
a = "ing"
b = s+a
b

enter string  dshd

'dshding'

In [53]:
x = 'hello world'
print(x)

hello world

In [54]:
# string concatenation
a = 'data'
b = 'science'
a + b

'datascience'

In [56]:
x = 5
print(type(x))

<class 'int'>

# string indexing and slicing

In [ ]:
# difference between indexing and slicing in Python

'''
Indexing:

Purpose: Accesses a single element from a sequence based on its position.
Syntax: sequence[index]
Index: A numerical value representing the position of the element (starting from 0).

Slicing:

Purpose: Extracts a sub-sequence (a portion) of a sequence based on specified start and end indices.
Syntax: sequence[start:end:step]
Start: The index of the first element to include (default is 0).
End: The index of the first element to exclude (default is the length of the sequence).
Step: The interval between elements (default is 1).
'''

In [3]:
num = int(input("enter number"))
reversed_num = 0
while num>0:
    l_digit = int(num)%10
    reversed_num = reversed_num * 10 + l_digit
    num //= 10

print(reversed_num)

enter number 5654

4565

In [4]:
x = "vinay"
x[3]

'a'

In [12]:
x = "Vinay and Deepak"
x[0::2]

'VnyadDea'

In [13]:
lst = [1,2,3,4,5]
lst[-1]

5

In [15]:
lst = [1,2,3,4,5]
lst[1:4]

[2, 3, 4]

In [16]:
lst = [1,2,3,4,5]
lst[0]=10
lst

[10, 2, 3, 4, 5]

In [ ]:
# what does the step parameter tdo in slicing in Python

'''
The step parameter in slicing in Python specifies the interval between elements to be extracted from a sequence.
It allows you to skip elements and extract a subsequence with a specific stride.
'''

In [17]:
lst = [1,2,3,4,5]
lst[10]

IndexError: list index out of range

In [18]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst[0::2]

[1, 3, 5, 7, 9]

In [20]:
s = "python"
s[2:5]

'tho'

In [22]:
a = "Vinay"
b = "Deepak"
s = a+" "+b
s

'Vinay Deepak'

In [30]:
text = "This is a sample text. This text has some repeated words"
words = text.split()
word_counts = {}

for word in words:
    word = word.lower()

    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1

print(word_counts)

{'this': 2, 'is': 1, 'a': 1, 'sample': 1, 'text.': 1, 'text': 1, 'has': 1, 'some': 1, 'repeated': 1, 'words': 1}

In [32]:
# Write a Python program to count and display vowels of a given text

def count_vowels(text):

    vowels = "aeiouAEIOU"
    count = 0

    for char in text:
        if char in vowels:
           count += 1  
    return count

text = "This is a sample text with vowels."
vowel_count = count_vowels(text)
print("Number of vowels:", vowel_count)

Number of vowels: 9

In [33]:
def find_first_repeated_char(string):
  """Finds the first repeated character in a given string.

  Args:
    string: The input string.

  Returns:
    The first repeated character, or None if no repeated character is found.
  """

  seen_chars = set()
  for char in string:
    if char in seen_chars:
      return char
    seen_chars.add(char)

  return None

# Example usage
text = "hello world"
repeated_char = find_first_repeated_char(text)

if repeated_char:
  print("The first repeated character is:", repeated_char)
else:
  print("No repeated characters found.")

The first repeated character is: l

In [34]:
def reverse_string(string):
  """Reverses a given string.

  Args:
    string: The string to be reversed.

  Returns:
    The reversed string.
  """

  reversed_string = ""
  for char in string:
    reversed_string = char + reversed_string
  return reversed_string

# Example usage
text = "hello world"
reversed_text = reverse_string(text)
print(reversed_text)

dlrow olleh