In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel('insurance.xlsx')
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
df.shape

(1338, 7)

In [5]:
df['sex'].value_counts()

sex
male      676
female    662
Name: count, dtype: int64

In [6]:
df['children'].value_counts()

children
0    574
1    324
2    240
3    157
4     25
5     18
Name: count, dtype: int64

In [7]:
df['smoker'].value_counts()

smoker
no     1064
yes     274
Name: count, dtype: int64

In [8]:
df['region'].value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [9]:
contionuous_features = [ 'expenses','bmi','age']
discrete_categorical = ['region','smoker','sex']
dicrete_count = ['children']

In [10]:
df[contionuous_features].describe()

           expenses          bmi          age
count   1338.000000  1338.000000  1338.000000
mean   13270.422414    30.665471    39.207025
std    12110.011240     6.098382    14.049960
min     1121.870000    16.000000    18.000000
25%     4740.287500    26.300000    27.000000
50%     9382.030000    30.400000    39.000000
75%    16639.915000    34.700000    51.000000
max    63770.430000    53.100000    64.000000

In [11]:
df[discrete_categorical].describe()

           region smoker   sex
count        1338   1338  1338
unique          4      2     2
top     southeast     no  male
freq          364   1064   676

In [12]:
df[contionuous_features].corr()

          expenses       bmi       age
expenses  1.000000  0.198576  0.299008
bmi       0.198576  1.000000  0.109341
age       0.299008  0.109341  1.000000

In [13]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [14]:
df.duplicated().sum()

1

In [15]:
df.drop_duplicates(inplace=True)

In [16]:
df.shape

(1337, 7)

In [17]:
df.drop('region',axis=1,inplace=True)

In [18]:
df['sex'].replace({'female' : 0 , 'male' : 1} ,inplace=True)
df['smoker'].replace({'no' : 0 , 'yes' : 1} ,inplace=True)

In [19]:
X = df.drop('expenses',axis=1)
y = df['expenses']

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=9)

In [21]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso

estimator = Lasso()
param_grid = ({'alpha' : list(range(1,100))})

model_hp = GridSearchCV(estimator,param_grid,cv=5,scoring='r2')
model_hp.fit(X_train,y_train)
model_hp.best_params_

{'alpha': 60}

In [22]:
from sklearn.linear_model import Lasso
lasso_best = Lasso(alpha=0)
lasso_best.fit(X_train,y_train)

print('Intercept :',lasso_best.intercept_)
print('Coefficent :',lasso_best.coef_)

from sklearn.metrics import r2_score,mean_squared_error

ypred_train = lasso_best.predict(X_train)
print('RMSE :',np.sqrt(mean_squared_error(y_train,ypred_train)))
print('R2 :',r2_score(y_train,ypred_train))

ypred_test = lasso_best.predict(X_test)
print('RMSE :',np.sqrt(mean_squared_error(y_test,ypred_test)))
print('R2 :',r2_score(y_test,ypred_test))

from sklearn.model_selection import cross_val_score
print('CV :' , cross_val_score(lasso_best,X_train,y_train).mean())

Intercept : -12154.733274507524
Coefficent : [  264.55027389  -121.59763853   318.49249753   412.05023696
 23987.90487402]
RMSE : 6044.336900305296
R2 : 0.7593836665917533
RMSE : 6120.4978612008545
R2 : 0.7005936402138647
CV : 0.7534484206957632

In [23]:
X = X.drop('sex',axis=1)
y = df['expenses']

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=9)

from sklearn.linear_model import Lasso
lasso_best = Lasso(alpha=0)
lasso_best.fit(X_train,y_train)

print('Intercept :',lasso_best.intercept_)
print('Coefficent :',lasso_best.coef_)

from sklearn.metrics import r2_score,mean_squared_error

ypred_train = lasso_best.predict(X_train)
print('Train RMSE :',np.sqrt(mean_squared_error(y_train,ypred_train)))
print('Train R2 :',r2_score(y_train,ypred_train))

ypred_test = lasso_best.predict(X_test)
print('Test RMSE :',np.sqrt(mean_squared_error(y_test,ypred_test)))
print('Test R2 :',r2_score(y_test,ypred_test))

from sklearn.model_selection import cross_val_score
print('CV :' , cross_val_score(lasso_best,X_train,y_train).mean())

Intercept : -12201.354755378545
Coefficent : [  264.59050333   318.06197302   410.90891639 23976.06250662]
Train RMSE : 6044.639807829591
Train R2 : 0.7593595493642272
Test RMSE : 6120.86961762037
Test R2 : 0.7005572674810692
CV : 0.7539010781813675

In [24]:
input_data = {
    'age':35,
    'sex':'Male',
    'bmi':31.4,
    'children':5,
    'smoker':'yes',
    'region':'southeast'
}

In [25]:
df_test = pd.DataFrame(input_data,index=[0])
df_test

   age   sex   bmi  children smoker     region
0   35  Male  31.4         5    yes  southeast

In [26]:
df_test.drop(['region','sex'],axis=1,inplace=True)
df_test['smoker'].replace({'no':0,'yes':1},inplace=True)

In [27]:
lasso_best.predict(df_test)

array([33077.06590275])