In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel('insurance.xlsx')
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [3]:
df.drop_duplicates(inplace=True)

In [4]:
df.drop('region',axis=1,inplace=True)

In [5]:
df['sex'].replace({'female' : 0 , 'male' : 1} ,inplace=True)
df['smoker'].replace({'no' : 0 , 'yes' : 1} ,inplace=True)

In [6]:
X = df.drop('expenses',axis=1)
y = df['expenses']

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=9)

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge

estimator = Ridge()
param_grid = ({'alpha' : list(range(1,100))})

model_hp = GridSearchCV(estimator,param_grid,cv=5,scoring='r2')
model_hp.fit(X_train,y_train)
model_hp.best_params_

{'alpha': 1}

In [9]:
from sklearn.linear_model import Ridge
ridge_best = Ridge(alpha=1)
ridge_best.fit(X_train,y_train)

print('Intercept :',ridge_best.intercept_)
print('Coefficent :',ridge_best.coef_)

from sklearn.metrics import r2_score,mean_squared_error

ypred_train = ridge_best.predict(X_train)
print('Train RMSE :',np.sqrt(mean_squared_error(y_train,ypred_train)))
print('Train R2 :',r2_score(y_train,ypred_train))

ypred_test = ridge_best.predict(X_test)
print('Test RMSE :',np.sqrt(mean_squared_error(y_test,ypred_test)))
print('Test R2 :',r2_score(y_test,ypred_test))

from sklearn.model_selection import cross_val_score
print('CV :' , cross_val_score(ridge_best,X_train,y_train).mean())

Intercept : -12131.383174500303
Coefficent : [  264.4786592   -112.37962155   318.56350557   413.12069122
 23853.85951773]
Train RMSE : 6044.584371870884
Train R2 : 0.7593639632162803
Test RMSE : 6117.744435159837
Test R2 : 0.7008629672692219
CV : 0.753470595394454

In [10]:
input_data = {
    'age':31,
    'sex':'female',
    'bmi':25.74,
    'children':0,
    'smoker':'no',
    'region':'northeast'
}

In [14]:
df_test = pd.DataFrame(input_data,index=[0])
df_test.drop(['region'],axis=1,inplace=True)
df_test['sex'].replace({'female' : 0 , 'Male' : 1} ,inplace=True)
df_test['smoker'].replace({'no' : 0 , 'yes' : 1} ,inplace=True)
df_test

   age  sex   bmi  children  smoker
0   35    1  31.4         5       1

In [15]:
ridge_best.predict(df_test)

array([32935.34732475])