In [12]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data = pd.read_csv('titanic.csv', usecols=['Fare'])
data.head()

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [5]:
data['Fare'].skew()

4.787316519674893

In [14]:
data['sqr_Fare']  = data['Fare']**(1/4)
data['sqr_Fare'].skew()

0.5196788882063811

In [21]:
data['log_Fare'] = np.log(data['Fare']+0.1)
data['log_Fare'].skew()

-0.9166865254725971

In [24]:
data['rec_Fare'] = 1/(data['Fare']+0.1)
data['rec_Fare'].skew()

7.508511025264943

In [25]:
from scipy import stats

In [26]:
data['Fare_boxcox'], param = stats.boxcox(data.Fare+0.01)

In [27]:
print ('λ = ',param)

λ =  0.18091320978568703

In [28]:
data['Fare_boxcox'].skew()

0.25282451905816666

In [32]:
data.skew()

Fare           4.787317
sqr_Fare       0.519679
log_Fare      -0.916687
rec_Fare       7.508511
Fare_boxcox    0.252825
dtype: float64