In [45]:
import numpy as np
import pandas as pd

In [46]:
df1 = pd.DataFrame({'size' : ['small','medium','high']})
df1

     size
0   small
1  medium
2    high

In [47]:
df1['size'].value_counts()

size
small     1
medium    1
high      1
Name: count, dtype: int64

In [48]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df1['size_le_enc'] = le.fit_transform(df1['size'])
df1

     size  size_le_enc
0   small            2
1  medium            1
2    high            0

In [49]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['small', 'medium', 'high']])
df1['size_ord_enc'] = oe.fit_transform(df1[['size']])
df1

     size  size_le_enc  size_ord_enc
0   small            2           0.0
1  medium            1           1.0
2    high            0           2.0

In [50]:
df1['size_fm_pan'] = df1['size'].map({'small':0,'medium':1,'high':2})
df1

     size  size_le_enc  size_ord_enc  size_fm_pan
0   small            2           0.0            0
1  medium            1           1.0            1
2    high            0           2.0            2

In [51]:
df = pd.DataFrame({'town' : ['mumbai','pune','chennai']})
df

      town
0   mumbai
1     pune
2  chennai

In [52]:
df['town'].value_counts()

town
mumbai     1
pune       1
chennai    1
Name: count, dtype: int64

In [53]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(drop='first')
enc_df = pd.DataFrame(enc.fit_transform(df[['town']]).toarray(),columns=['mumbai','pune'])
df_ohe = pd.concat([df,enc_df],axis='columns')
df_ohe

      town  mumbai  pune
0   mumbai     1.0   0.0
1     pune     0.0   1.0
2  chennai     0.0   0.0

In [59]:
dum = pd.get_dummies(df['town'],drop_first=True,dtype=int)
df_dum = pd.concat([df,dum],axis='columns')
print(df_dum)

      town  mumbai  pune
0   mumbai       1     0
1     pune       0     1
2  chennai       0     0