In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel('cleaned_data.xlsx')
df.head()

   sales  Total spend
0  22100       337100
1  10400       128900
2   9300       132400
3  18500       251300
4  12900       250000

In [4]:
X = df[['Total spend']]
y = df['sales']

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size = 0.8,random_state = 77)

In [31]:
from sklearn.preprocessing import PolynomialFeatures
polynomial_converter = PolynomialFeatures(degree=3,include_bias=False)
X_train_poly = pd.DataFrame(polynomial_converter.fit_transform(X_train))
X_test_poly = pd.DataFrame(polynomial_converter.transform(X_test)) # dont apply fit on test or output data

In [45]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_poly,y_train)
print('Coefficent :',model.coef_)
print('Intercept :',model.intercept_)

Coefficent : [ 8.59564389e-02 -2.09463379e-07  3.32634930e-13]
Intercept : 2540.582250262283

In [47]:
ypred_train = model.predict(X_train_poly)

from sklearn.metrics import r2_score,mean_squared_error
print('Train RMSE : ',np.sqrt(mean_squared_error(y_train,ypred_train)))
print('Train R2 : ' ,r2_score(y_train,ypred_train))

Train RMSE :  2606.0973158365664
Train R2 :  0.7469025465324367

In [49]:
from sklearn.model_selection import cross_val_score
print('Cross validation Score :', cross_val_score(model,X_train_poly,y_train,cv=5).mean()) 
#CV = should be same as train_test_split like 5 for 0.2

Cross validation Score : 0.723332200397932

In [52]:
ypred_test = model.predict(X_test_poly)
print('Train RMSE : ',np.sqrt(mean_squared_error(y_test,ypred_test)))
print('Train R2 : ' ,r2_score(y_test,ypred_test))

Train RMSE :  2410.3702816271543
Train R2 :  0.7890225592986998